.navbar {
  background-color: #F37021;
}

.nav-link {
  color: #FFFFFF;
}

.nav-item.active {
  background-color: #fff;
}

.nav-item .nav-link {
  color: #ffffff;
}

.carousel_img {
  width: inherit;
  height: inherit;
}

.carousel_img_container {
  /* position: relative; */
  width: inherit;
  height: inherit;
}
