<section class="img_rotation container_col">
  <div class="img_1 container_col showing slide_show_img">
    <img src="{% static 'img/TCR.png' %}">
    <span>Image 1</span>
  </div> <!-- class="img_1" -->
  <div class="img_2 container_col hidden slide_show_img">

    <span>Image 2</span>
  </div> <!-- class="img_2" -->
  <div class="img_3 container_col hidden slide_show_img">
    <img src="{% static 'images/website/TCR_T_Shirt_Mock_up.png' %}">
    <span>Image 3</span>
  </div> <!-- class="img_3" -->
  <div class="container_row" id="img_navigation">
    <span class="img_nav_btn" id="previous_img_btn">Previous</span>
    <div>
      <span class="img_nav_btn img_num" id="=img_btn_1">1</span>
      <span class="img_nav_btn img_num" id="img_btn_2">2</span>
      <span class="img_nav_btn img_num" id="img_btn_3">3</span>
    </div>
    <span class="img_nav_btn" id="next_img_btn">Next</span>
  </div>
</section> <!-- class="img_rotation" -->