{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
  <h1 class="my-5 h1 text-center">TaurusCanis Rex</h1>
  {# <!-- {% include "carousel.html" %} --> #}
  <section id="video_section">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/aoghb3mB1x4" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </section>
  <section id="connect" class="mailing_list">
    <div class="mailing_list_blurb">

    </div><!-- class="mailing_list_blurb" -->

    <!-- Spotify -->
    <!-- <div class="row d-flex justify-content-center">
      <h3 class="my-5 h3 text-center">
        Follow us on Spotify!
      </h3>
    </div>
    <div class="row d-flex justify-content-center">
      <iframe src="https://open.spotify.com/follow/1/?uri=spotify:artist:48IQELLVFZ9STS7WscCjdY&size=detail&theme=light"
        width="200" height="56" scrolling="no" frameborder="0" style="border:none; overflow:hidden;"
        allowtransparency="true">
      </iframe>
    </div> -->


    <div class="row d-flex justify-content-center">
      <form method="post" class="col-md-9 mb-md-0 mb-5">
        {% csrf_token %}
        <h3 class="my-5 h3 text-center">
          New music is coming soon! Be the first to know when - Join the TaurusCanis Rex mailing list:
        </h3>
        <div class="md-form mb-5" id="first_name_group">
          <input type='text' placeholder='Name' id='first_name' name='first_name' class='form-control' />
          <label for="first_name" class="">Name</label>
        </div>
        <!-- <div class="form_group" id="last_name_group">
            <label for="last_name">Last Name: </label>
            <input type="text" name="last_name" id="last_name">
          </div> -->
        <div class="md-form mb-5">
          <input type='email' placeholder='Email Address' id='email_address' name='email_address'
            class='form-control' />
          <label for="email_address" class="">Email Address</label>
        </div>
        <div class="text-center">
          <button class="btn btn-primary btn-lg" type="submit">Submit</button>
        </div>
        <!-- Should we ask for age and zip code? -->
      </form>
    </div>
  </section> <!-- class="mailing_list" -->

  <!-- Band Camp - Listen  -->
  <!-- <section id="listen" class="music">
    <h3 class="my-5 h3 text-center">Listen</h3>
    <div class="row d-flex justify-content-center">
      <iframe style="border: 0; width: 400px; height: 241px;"
        src="https://bandcamp.com/EmbeddedPlayer/album=3226988566/size=large/bgcol=ffffff/linkcol=0687f5/artwork=small/transparent=true/"
        seamless>
        <a href="http://tauruscanisrex.bandcamp.com/album/qd-singles-rough-cuts">
          QD Singles - Rough Cuts by TaurusCanis Rex</a>
      </iframe>
    </div>
  </section>  -->
  <!-- <section id="watch" class="video"> -->
  <!-- <h3 class="my-5 h3 text-center">Watch</h3> -->
  <!-- Corona King (old version) on youtube -->
  <!-- <div class="row d-flex justify-content-center">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/qSEhskItxVk" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div> -->
  <!-- <div class="row d-flex justify-content-center">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/m7EG7CjvD6w" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div> -->
  <!-- </section>  -->
  <section class="store">
    <h3 class="my-5 h3 text-center">Shop</h3>
    <a class="text-center" href="{% url 'core:products_page' %}">
      <img class="img-fluid" src="{% static 'img/TCR_T_Shirt_Mock_up.png' %}">
    </a>
    <div class="container_row">
      {% for product in products.result %}
      <div><img class=".img-fluid" src="{{ product.thumbnail_url }}"></div>
      {% endfor %}
    </div>
  </section> <!-- class="store" -->
</div> <!-- class="container" -->
{% endblock %}