<div class="container">
    <div class="row justify-content-center my-3">
        <h3>Please confirm your shipping address is correct.</h3>
    </div>
    <div class="row justify-content-center">
        <div class="col-6">
            <h5>Ship to:</h5>

            <div class="my-0" id="customer_name">{{ order.customer.first_name }} {{ order.customer.last_name }}</div>
            <div class="my-0" id="shipping_street_address">{{ order.shipping_address.street_address }}</div>
            <div class="my-0" id="shipping_street_address_2">{{ order.shipping_address.apartment_address }}</div>
            <div class="my-0" id="shipping_city">
                <span class="my-0" id="shipping_state">{{ order.shipping_address.city }}</span>, <span class="my-0"
                    id="shipping_state">{{ order.shipping_address.state }}</span>
            </div>
            <h6 class="my-0" id="shipping_zip">{{ order.shipping_address.zip }}</h6>
            <h6 class="my-0" id="shipping_country">{{ order.shipping_address.country }}</h6>
        </div>
        <!-- </h4> -->

        <!-- <h4 class="d-flex justify-content-between align-items-center mb-3"> -->
        <div class="col-6">
            <h5>Billing Address:</h5>

            <div class="my-0" id="billing_street_address">{{ order.billing_address.street_address }}</div>
            <div class="my-0" id="billing_street_address_2">{{ order.billing_address.apartment_address }}</div>
            <div class="my-0" id="billing_city">
                <span class="my-0" id="shipping_state">{{ order.billing_address.city }}</span>, <span class="my-0"
                    id="billing_state">{{ order.billing_address.state }}</span>
            </div>
            <h6 class="my-0" id="billing_zip">{{ order.billing_address.zip }}</h6>
            <h6 class="my-0" id="billing_country">{{ order.billing_address.country }}</h6>
        </div>
    </div>
    {% if not order.ordered %}
    <div class="row justify-content-center my-3">

        <a class='btn btn-primary' href='/checkout'>Edit Shipping or Billing Address</a>

    </div>
    {% endif %}
</div>